/* Estils del club de lectura */

:root {
  --espai-petit: 0.5rem;
  --espai: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #f4f1de;
}

nav {
  background-color: #00695c;
  padding: var(--espai-petit);
}

nav a {
  display: inline-block;
  padding: var(--espai-petit) var(--espai);
  color: white;
}

.llibre {
  background-color: white;
  padding: var(--espai);
  margin-bottom: var(--espai);
  border: 2px solid #00695c;
  border-radius: 8px;
}
