/* Estils del menú */

main {
  width: 18rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.plat {
  border: 2px solid tomato;
  padding: 1rem;
  margin: 1rem 0;
}

.preu {
  display: inline-block;
  width: 4rem;
  background-color: gold;
  text-align: center;
}
